.block.details
	.container
		#details
			h2 Details
			table
				tr
					th Category
					td= fmt.str.capitalize(gear.category)
				tr
					th State
					td: span.label(data-state=gear.state)= fmt.str.capitalize(gear.state)
				tr
					th Purcased
					td
						if Date.parse(gear.purcased)
							time(datetime=fmt.date.iso(gear.purcased))= fmt.date.human(gear.purcased)
				tr
					th First used
					td
						if Date.parse(gear.first_used)
							time(datetime=fmt.date.iso(gear.first_used))= fmt.date.human(gear.first_used)
				tr
					th Serial number
					td= gear.serial_number
			h3 Certifications
			- var certifications = gear.certifications.split(",")
			if (certifications.length && certifications[0] != "")
				ul
					for cert in certifications
						li= cert
			else
				p: em No certifications registered!

		#tech-specs
			h2 Tech specs
			table
				for val, key in gear.tech_specs
					tr
						th= fmt.str.capitalize(key)
						td
							!= val
							- var meta = metadata[key]
							if (meta.unit)
								span.unit(title=meta.unit.name)= meta.unit.symbol


