extends ../layouts/default

block main
	article.gear
		header
			.container
				h1
					!= title
					- var count = gearList.length
					- var text = count == 1 ? "item" : "items"
					span #{count + " " + text}

		.block
			.container
				table
					thead
						th Name
						//th Manufacturer
						th Category
						//th Last modified
						th State
					tbody
						for gear in gearList
							tr
								td: a(href="#{'/gear/' + gear._id}")= gear.name
								//td= gear.manufacturer
								td= fmt.str.capitalize(gear.category)
								//td: time(datetime=fmt.date.iso(gear.last_modified))= fmt.date.human(gear.last_modified)
								td: span.label(data-state=gear.state)= fmt.str.capitalize(gear.state)

		footer
			.container
				#actions
					a(href="/gear/new") New gear
